.categoryProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.categoryProducts a {
  text-decoration: none;
  color: inherit;
}

.categoryResultContainer {
  justify-content: space-around;
}

.categorySearch {
  width: 60vw;
  margin-top: 2rem;
}

.categorySearchImage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.categorySearchPicture {
  margin: 0 !important;
  width: auto !important;
}

.categorySearchRating {
  background: #388e3c;
  color: white;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: fit-content;
  border-radius: 3px;
}

.categorySearchRating img {
  height: 1rem;
  width: auto;
  margin-top: 0;
}

.categoryMainDetails h5 {
  text-align: left;
}

.categoryMainDetails ul {
  list-style-position: inside;
  padding-left: 0;
}

.categorySideBody {
  display: flex;
  flex-direction: column;
}

.categoryPrice {
  justify-content: center;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
}

.categoryPrice img {
  height: 1.3rem;
  width: auto;
  margin-top: 0;
}
