.checkoutPageContainer {
  min-height: 100vh;
}

.checkoutPage {
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.checkoutDetails {
  width: 50%;
}

.detailsAccordion {
  width: 100%;
}

#checkoutLogin {
  background-color: #fb641b;
  color: white;
  white-space: nowrap;
}

.accordion-header button:focus {
  background-color: #2874f0;
  color: white;
}

#checkoutLogin:hover {
  background-color: #fb641b;
  color: white;
}

#radioButtons {
  display: flex;
  gap: 10%;
}

#saveButtons {
  display: flex;
  gap: 5%;
}

#save {
  background-color: #fb641b;
  color: white;
}

#cancel {
  color: #2874f0;
}

.col-12 label {
  margin-left: 1rem;
}

.proceed {
  display: flex;
  justify-content: flex-end;
}

.proceed button {
  color: white;
  background-color: #fb641b;
}

.proceed button:hover {
  color: white;
  background-color: #fb641b;
}

.savedAddress h5,
.savedAddress h6 {
  text-align: left;
}

.savedAddress p {
  justify-content: flex-start;
}

.addressError {
  color: red;
  font-size: smaller;
}

.editDelete {
  display: flex;
  justify-content: space-between;
}

.editAddress,
.editAddress:hover {
  color: white;
  background-color: #fb641b;
}

#proceed,
#proceed:hover {
  color: white;
  background-color: #fb641b;
}

@media all and (max-width: 850px) {
  .checkoutPage {
    flex-direction: column-reverse;
    align-items: center;
  }

  .checkoutDetails {
    width: 60vw;
    min-width: 18rem;
  }

  #save {
    font-size: smaller;
  }

  #cancel {
    font-size: smaller;
  }

  #proceed {
    font-size: smaller;
  }
}

@media all and (max-width: 450px) {
  #checkoutLogin {
    width: fit-content;
    font-size: smaller !important;
  }

  #radioButtons label {
    font-size: smaller;
  }

  .col-12 label {
    font-size: smaller;
  }
}
