.carouselCardsContainer {
  margin-top: 2rem;
  width: 95vw;
  display: flex;
}

.containerName {
  background-image: url("https://rukminim1.flixcart.com/fk-p-flap/278/278/image/7593e7b6640822c1.jpg?q=90");
  background-position: 0px bottom;
  background-repeat: no-repeat;
  flex: 1;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerName p {
  text-align: center;
}

.cardsContainer {
  flex: 7;
}

.carousel-control-prev,
.carousel-control-next {
  top: 40%;
  width: 3%;
  height: 5rem;
  background-color: white;
}

#carouselControls {
  align-items: center;
}

.card:hover {
  cursor: pointer;
}

.card img {
  margin-top: 2rem;
  height: 10rem;
  width: 15rem;
  max-width: 100%;
  align-self: center;
}

.mainCards {
  min-height: 40vh;
}

.linkImage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.linkImage img {
  width: auto;
}

.linkDetails {
  flex: 1;
  color: inherit;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  text-align: center;
}

.card-text {
  display: flex;
  justify-content: center;
}

.shop {
  color: green;
}

.cardBody {
  align-items: center;
}

@media all and (max-width: 1000px) {
  .carouselCardsContainer {
    flex-direction: column;
  }

  .containerName {
    background-size: contain;
    font-weight: 500;
    background-repeat: repeat;
  }

  .containerName p {
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    margin: auto;
    padding: 1rem;
  }

  .mainDetails h5 {
    font-size: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
  }

  .linkImage img {
    height: 9rem;
  }
}
