.footer {
  margin-top: 5rem;
  padding-top: 1rem;
  background-color: #172337;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.footer ul {
  flex: 1;
  padding-left: 0;
  color: white;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

@media all and (max-width: 650px) {
  .footer ul {
    font-size: smaller;
  }
}

@media all and (max-width: 475px) {
  .footer ul {
    font-size: 0.9rem;
    flex-wrap: wrap;
  }
} ;
