.header {
  justify-content: center !important;
}

#logo {
  height: 2.5rem;
}

.searchBar {
  display: flex;
}

.searchInput {
  width: 500px;
  margin-right: 0rem !important;
  border-radius: 0;
  border-right-style: none;
}

.searchButton {
  border-radius: 0;
  border-style: none;
  height: 3rem;
}

#loginSection {
  margin-left: 45px;
  display: flex;
  align-items: center;
}

.loginButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 8rem;
  color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity));
  margin-left: 10px;
  border-radius: 0;
}

.options {
  margin-left: 20px;
  flex-direction: row;
  gap: 2rem;
  font-weight: 500;
}

.moreOptions {
  position: absolute !important;
}

.dropdown button {
  font-weight: 500;
}

@media all and (max-width: 1000px) {
  .searchInput {
    width: 50vw;
  }
}

@media all and (max-width: 850px) {
  .searchInput {
    width: 40vw;
  }
}

@media all and (max-width: 720px) {
  .searchInput {
    width: 30vw;
  }

  #loginSection {
    margin-left: 1rem;
  }
}

@media all and (max-width: 720px) {
  #headerLogin {
    width: auto;
  }
}

@media all and (max-width: 480px) {
  .searchInput {
    width: 20vw;
  }
}

@media all and (max-width: 430px) {
  #logo {
    height: 2rem;
  }

  .header {
    width: 100vw;
    flex-wrap: nowrap !important;
  }

  .nav-link span {
    display: none;
  }
}
