.cartProduct {
  max-width: 540px;
}

.itemImage img {
  height: 7rem !important;
  width: auto !important;
  margin: 1rem !important;
}

.itemImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#placeOrder {
  display: flex;
  justify-content: flex-end;
}

#placeOrder button {
  background-color: #fb641b;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border: none;
  color: #fff;
  min-width: 250px;
  padding: 16px 30px;
}

.singlePrice {
  justify-content: flex-start !important;
  font-weight: bold;
  margin-left: 1rem;
}

.cartQuantity {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.cartQuantity button {
  border-radius: 50%;
  width: 30%;
  background: linear-gradient(#fff, #f9f9f9);
  border: 1px solid #c2c2c2;
}

.cartQuantity div {
  width: 30%;
}

.cartDetailsRemove {
  flex-direction: column;
  justify-content: space-around;
}

.cartDetailsRemove div h5 {
  text-align: left;
}

.cartNumber {
  border: none;
  width: 3rem;
}

.checkoutButton {
  display: flex;
  justify-content: flex-end;
}

.checkoutButton a {
  background: #fb641b !important;
  color: white !important;
  border-radius: none !important;
  font-size: 1.2rem;
  padding: 1rem;
}

.cartIncrease {
  text-align: center;
  margin-bottom: 1rem;
}

.cartDecrease {
  margin-bottom: 1rem;
}

@media all and (max-width: 770px) {
  .cartQuantity button {
    width: 10%;
  }

  .cartQuantity div {
    margin-left: 3rem;
    margin-top: 0.3rem;
  }
}

@media all and (max-width: 540px) {
  .cartProduct {
    margin-top: 1rem;
    width: 90vw;
  }

  .cartNumber {
    text-align: center;
    width: 100%;
  }

  .cartQuantity div {
    margin-left: 0;
    margin-top: 0;
  }

  .cartQuantity button {
    width: 20%;
  }

  .cartDetailsRemoveCard {
    width: 100%;
  }
} ;
