.cartContainer {
  min-height: 75vh;
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

@media all and (max-width: 850px) {
  .cartContainer {
    flex-direction: column-reverse;
    align-items: center;
  }
}
