.mainSearch {
  text-decoration: none;
  color: inherit;
}

.showResults {
  width: 60vw;
  margin-top: 1rem;
}

.noResults {
  width: 99vw;
  height: 40vh;
}

.noResultsCard {
  height: 100%;
}

.searchContainer {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainSearch {
  margin-top: 1rem;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enterSearch {
  margin-top: 2rem;
  width: 90vw;
}

.searchRating {
  color: white;
  display: flex;
  padding: 2px;
  background-color: #388e3c;
  font-size: 1rem;
  margin-bottom: 2px;
  font-weight: 500;
  border-radius: 3px;
  width: fit-content;
}

.searchRating img {
  margin-top: 0 !important;
  height: 10px !important;
  width: auto !important;
}

.result {
  align-items: center;
  min-width: 50vw;
  width: 100%;
}

.result p {
  text-align: left;
}

.searchImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchPicture {
  margin: 2rem;
  width: auto !important;
}

.resultContainer {
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.card-body {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.resultContainer h5 {
  text-align: left;
}

.mainBody .card-text {
  justify-content: flex-start !important;
}

.mainBody .card-text ul {
  padding-left: 1rem;
}

.sideBody h4 {
  text-align: left;
}

.sideBody .card-text {
  justify-content: flex-start;
  font-size: 1rem;
}

.boldPrice {
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}
