.priceDetailsCard {
  min-width: 18rem;
}

.priceDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20rem;
  padding: 1.5rem;
  min-width: 18rem;
}

.priceDetails h5 {
  text-align: left;
  color: grey;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 10px;
}

.detailField {
  display: flex;
  justify-content: space-between !important;
}

.discountPrice {
  color: green;
}

@media all and (max-width: 850px) {
  .priceDetails {
    width: 60vw;
  }
}
