.modal-dialog {
  margin-left: 0;
  margin-right: 0;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.signPopup {
  height: 500px;
  width: 40%;
}

#signClose {
  position: absolute;
  left: 100%;
  color: white;
}

.modal-body {
  display: flex;
  padding: 0;
}

.loginPicture {
  background-color: #2874f0;
  flex: 2;
  padding-left: 2rem;
  padding-top: 2rem;
}

.loginTitle {
  color: white;
  font-size: 28px;
  font-weight: 500;
  width: 70%;
}

.loginWelcome {
  color: white;
  width: 50%;
  margin-top: 2rem;
  font-size: 18px;
}

.loginDetails {
  flex: 3;
  display: flex;
  justify-content: center;
}

.loginDetails form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.loginDetails form input {
  border: none;
  border-bottom: 1px solid #e0e0e0;
}

.loginSubmit {
  background: #fb641b;
  width: 100%;
  height: 48px;
  color: white;
  font-size: 15px;
  border: 0;
  border-radius: 2px;
}

.loginSubmit:hover {
  background: #fb641b;
  color: white;
}

.errorMessage {
  color: red;
  font-size: smaller;
}
