.singleProductCard {
  flex: 1;
  height: 50vh;
  justify-content: space-between;
}

.singleProductCard img {
  flex: 2;
  width: auto;
}

.singleProductButton {
  flex: 1;
  align-items: center;
}

.singleProductButton button {
  width: 20rem;
  background: #ff9f00;
  color: white;
}

.singleProductButton button:hover,
.singleProductButton button:active,
.singleProductButton button:focus {
  background: #ff9f00 !important;
  color: white !important;
}

.singleProductDetails {
  flex: 1;
  height: 50vh;
  margin-left: 2rem;
}

.singleProductDetails a {
  text-decoration: none;
  color: inherit;
}

.singleProductDetails ul {
  font-size: 1.2rem;
}

.singleProductRating {
  background: #388e3c;
  color: white;
  display: flex;
  padding: 2px;
  font-size: 1.2rem;
  margin-bottom: 2px;
  font-weight: 500;
  border-radius: 3px;
  width: fit-content;
  align-items: center;
}

@media all and (max-width: 1000px) {
  .singleProductDetails {
    margin-left: 0;
  }
}

@media all and (max-width: 800px) {
  .singleProduct {
    flex-direction: column;
  }

  .singleProductDetails {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .singleProductCard {
    margin-left: 0;
    margin-top: 1rem;
  }
}

@media all and (max-width: 400px) {
  .singleProductButton {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .singleProductButton button {
    width: auto;
  }
}
