.upperContainer {
  display: flex;
  justify-content: center;
}

.upperContent {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 10px;
  color: #212121;
  background-color: white;
}

.upperContent a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.upperContent a:hover {
  color: blue;
}

.selected .categoryName {
  color: blue;
}

.upperContent a img {
  width: 4rem;
  height: auto;
}

.category {
  min-width: 10rem;
}

.category img {
  margin-top: 0 !important;
}

.categoryName {
  text-align: center;
}

.category:hover {
  cursor: pointer;
}

@media all and (max-width: 1400px) {
  .upperContent {
    flex-wrap: wrap;
    justify-content: center;
  }

  .category {
    min-width: 8rem;
  }
}

@media all and (max-width: 1200px) {
  .category {
    min-width: 5rem;
  }
}

@media all and (max-width: 850px) {
  .category {
    min-width: 10rem;
  }
}

@media all and (max-width: 700px) {
  .category {
    min-width: 8rem;
  }
}

@media all and (max-width: 600px) {
  .category {
    min-width: 7rem;
  }
}

@media all and (max-width: 600px) {
  .category {
    min-width: 0;
    width: 20vw;
  }
}
