.mainApp {
  min-height: 100vh;
}

@media all and (max-width: 1200px) {
  .loginDetails form input {
    width: auto;
  }

  .modal-body {
    flex-direction: column;
  }

  .loginTitle {
    text-align: center;
  }

  .loginPicture {
    padding-top: 1rem !important;
    padding-left: 0 !important;
    flex: 1 !important;
    padding-bottom: 1rem;
  }

  .loginPicture div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .loginWelcome {
    width: 100% !important;
    text-align: center;
  }

  #emailInput {
    min-width: 0;
    width: 90%;
  }

  .signPopup {
    min-width: 300px;
    width: 50%;
  }
}
